html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header-services{
    border-top: 10px solid #4fb9d6;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../images/limpieza.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#header-about{
    border-top: 10px solid #4fb9d6;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../images/teamwork.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#header {
    border-top: 10px solid #4fb9d6;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../images/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 7px;
    animation: girar infinite 30s linear;
}

@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear:both;
    float: none;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu ul a {
    text-decoration: none;
    color: #fff;
    transition: 300ms all;
}

#TittleH1-services{
    width: 100%;
    height: 50px;
    color: #fff;
    padding-top: 40px;
}

#TittleH1 h1{
    width: 100%;
    height: 50px;
    color: #fff;
    padding-top: 100px;
}

#TittleH1 a{
    display: block;
    background: white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 120px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}
#TittleH1 a:hover{
    background: #444;
    color: white;
}

#menu ul a:hover {
    color: #4fb9d6;
}

.HeaderFix{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.HeaderFix svg path{
    stroke: none;
    fill: #4fb9d6;
}

#slider {
    border: none;
    color: white;
    text-shadow: 0px 0px 5px #444;
    
    /*DEGRADADO CSS PURO css gradient generator*/
    background: #4fb9d6;

}

#slider .section h3{
    background: blueviolet;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.Cards-Section{
    padding:0%;
    background: #4fb9d6;
}

.Cards-Section h2{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
}

.Cards-Separator{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Cards{
    width: 23%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background: white;
    margin-bottom: 50px;
}

.InfoSpace-class-services{
    padding:0%;
    background: #4fb9d6;
}

.InfoSpace-class-services h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
}

#InfoSpace-Text{
    background: #c5b3b3;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    border-left: 50px solid #c5b3b3;
    border-right: 50px solid #c5b3b3;
}

.InfoSpace-class{
    padding:0%;
    background: #fcf8ed;
}

.InfoSpace-class h2{
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

.InfoSpace-separator{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.InfoSpace-services{
    width: 90%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background: white;
    margin-bottom: 50px;
}

.InfoSpace-services img{
    width: 200px;
}

.InfoSpace-sections-Text{
    width: 65%;
    float: left;
    padding-left: 70px;
}

.InfoSpace-sections-img{
    width: 29%;
    float: left;
    padding-top: 80px;
    padding-left: px;
}

.InfoSpace{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background: white;
    margin-bottom: 50px;
}
