html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header-contact{
    border-top: 10px solid #415bbb;
    background-image: linear-gradient(120deg, rgba(60, 233, 54, 0.459) 0%, rgba(61, 41, 240, 0.623) 100%), url("../images/contactanos.jpg");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#header-services{
    border-top: 10px solid #415bbb;
    background-image: linear-gradient(120deg, rgba(60, 233, 54, 0.459) 0%, rgba(61, 41, 240, 0.623) 100%), url("../images/limpieza.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#header-about{
    border-top: 10px solid #415bbb;
    background-image: linear-gradient(120deg, rgba(60, 233, 54, 0.459) 0%, rgba(61, 41, 240, 0.623) 100%), url("../images/teamwork.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#header {
    border-top: 10px solid #415bbb;
    background-image: linear-gradient(120deg, rgba(60, 233, 54, 0.459) 0%, rgba(61, 41, 240, 0.623) 100%), url("../images/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#logo {
    width: 30%;
    float: left;
    margin-top: 30px;
}

#logo img {
    display: block;
    float: left;
    height: 90px;
    margin-top: -9px;
    margin-right: 7px;
    padding-right: 150px;
}

#brand {
    display: block;
    margin: 0px;
    float: left;
    font-size: 23px;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear:both;
    float: none;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu ul a {
    text-decoration: none;
    color: #fff;
    transition: 300ms all;
    font-weight: bold;
}

#menu ul a:hover {
    color: #444;
}

#TittleH1-contact{
    width: 100%;
    height: 50px;
    color: #fff;
}

#TittleH1-services{
    width: 100%;
    height: 50px;
    color: #fff;
    padding-top: 40px;
}

#TittleH1 h1{
    width: 100%;
    height: 50px;
    color: #fff;
    padding-top: 100px;
}

#TittleH1 a{
    display: block;
    background: white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 120px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}
#TittleH1 a:hover{
    background: #444;
    color: white;
}

.HeaderFix{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.HeaderFix svg path{
    stroke: none;
    fill: #415bbb;
}

#slider {
    border: none;
    color: white;
    text-shadow: 0px 0px 5px #444;
    
    /*DEGRADADO CSS PURO css gradient generator*/
    background: white;

}

#slider .section h3{
    background: blueviolet;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item-contact {
    border-top: 0px;
    background: #f7f7f7;
    padding: 10px;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

input[type = "text"]{
    width: 45%;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 10px;
    transition: 300ms all;
}

.Cards-Section{
    padding:0%;
    background: #415bbb;
}

.Cards-Section h2{
    margin-top: 0px;
    padding: 0px;
    text-align: center;
}

.Cards-Separator{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Cards{
    width: 23%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background: white;
    margin-bottom: 50px;
}

.InfoSpace-class-services{
    padding:0%;
    background: #415bbb;
}

.InfoSpace-class-services h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
}

#InfoSpace-Text{
    background: white;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    border-left: 50px solid white;
    border-right: 50px solid white;
}

.InfoSpace-class{
    padding:0%;
    background: white;
}

.InfoSpace-class h2{
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

.InfoSpace-separator{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.InfoSpace-services{
    width: 90%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background: white;
    margin-bottom: 50px;
}

.InfoSpace-contact1{
    width: 100%;
    text-align: center;
    transform: scale(1);
    transition: transform 0.6s;
}

.InfoSpace-services img{
    width: 200px;
}

.InfoSpace-contact-tittle1{
    width: 15%;
    float: left;
}

.InfoSpace-contact-tittle2{
    width: 77%;
    float: left;
}

.InfoSpace-contact-tittle1 h5{
    padding: 0px;
}

.InfoSpace-sections-Text{
    width: 65%;
    float: left;
    padding-left: 70px;
}

.InfoSpace-sections-img{
    width: 29%;
    float: left;
    padding-top: 80px;
    padding-left: 10px;
}

.InfoSpace-restaurants {
    background-image: url("../images/restaurants.jpg");
    width: 30%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 50px;
    color: transparent;
}

.InfoSpace-office{
    background-image: url("../images/office.jpg");
    width: 30%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 50px;
    color: transparent;
}

.InfoSpace-construction{
    background-image: url("../images/construction.jpg");
    width: 30%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 50px;
    color: transparent;
}

.InfoSpace-gym{
    background-image: url("../images/gym.jpg");
    width: 30%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 50px;
    color: transparent;
}

.InfoSpace-office:hover{
    display: block;
    color: black;
    background: white;
}

.InfoSpace-restaurants:hover{
    display: block;
    color: black;
    background: white;
}

.InfoSpace-construction:hover{
    display: block;
    color: black;
    background: white;
}

.InfoSpace-gym:hover{
    display: block;
    color: black;
    background: white;
}

.InfoSpace{
    background: white;
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 50px;
}

#footer {
    background: #415bbb;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: black;
}

#footer p {
    margin: 0px;
    padding: 0px;
}
